<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <% @listings.each do |listing| %>
      <div>
        <%= link_to listing.title, listing_path(listing), class: "link" %>
        <p class="mb-0"><%= listing.country %></p>
        <p>$<%= listing.price_per_night%> SGD night</p>
      </div>
    <% end %>
  </div>
</div>
