<div class="container mt-4">
  <% @listings.each do |listing| %>
  <%= link_to listing.title, listing_path(listing) %>
  <br>
  <%= listing.country %>
  <p>$<%= listing.price_per_night%> SGD night </p>
  <% end %>
</div>
