<div class="container">
  <div>
    <a class="btn btn-flat" href="#">Islands</a>
    <a class="btn btn-flat" href="#">Cities</a>
    <a class="btn btn-flat" href="#">Tropical</a>
    <a class="btn btn-flat" href="#">Luxury</a>
    <a class="btn btn-flat" href="#">Castles</a>


    <a class="btn btn-gradient" href="#">filters</a>
  </div>

  <div class="cards">
    <% @listings.each do |listing| %>
      <div class="listing-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= link_to listing.title, listing_path(listing), class: "link" %>
        <p class="mb-0"><%= listing.country %></p>
        <p>$<%= listing.price_per_night%> SGD night</p>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>

</div>
