<br>
<div class="container">
  <div>
    <a class="btn btn-flat" href="#">Islands</a>
    <a class="btn btn-flat" href="#">Cities</a>
    <a class="btn btn-flat" href="#">Tropical</a>
    <a class="btn btn-flat" href="#">Luxury</a>
    <a class="btn btn-flat" href="#">Castles</a>
    <a class="btn btn-flat" href="#">Basic</a>
  </div>

  <br>

<div class="row">
  <div class="cards">
    <% @listings.each do |listing| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 18rem;">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body card-font">
          <%= link_to listing.title, listing_path(listing), class: "link" %>
          <p class="mb-0"><%= listing.country %></p>
          <p>$<%= listing.price_per_night%> SGD night</p>
        </div>
      </div>
    <% end %>
  </div>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    Airbnb <i class="fas fa-heart"></i> Clone
  </div>

</div>
