

<br>

<div class="container">
  <div style="height: 2em;">
    <a class="btn btn-flat" href="#">Islands</a>
    <a class="btn btn-flat" href="#">Cities</a>
    <a class="btn btn-flat" href="#">Tropical</a>
    <a class="btn btn-flat" href="#">Luxury</a>
    <a class="btn btn-flat" href="#">Castles</a>
  </div>

  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-4">
        <div class="card border-0">
          <%= link_to listing_path(listing), class: "link" do %>
            <div>
              <% i = [0, 1, 2].sample %>
              <%= cl_image_tag listing.images[i].key, class:"card-img-top img-box" %>
              <%# <img class="card-img-top img-box" src="" alt="Card image cap"> %>
            </div>
          <% end %>
          <div class="card-body">
            <div style="height: 3em">
              <h6 class="card-title fw-bold mb-3"><%= listing.title %></h6>
            </div>
            <div class=" justify-content-start">
              <p class="small"><strong>$<%= listing.price_per_night.to_i%></strong> SGD night</p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
