<div class="container mt-4 w-800px">
  <div class="row">
    <%= render "form" %>
    <br>
  </div>

  <div class="mt-4">
    <%= link_to "Back to listings", listings_path , style: "text-decoration:none"%>
  </div>
</div>
