<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="datepicker" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" data-controller="booking">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit dates</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col">
              <label for="formGroupExampleInput">Checkin</label>
              <input id="startDate" class="form-control" data-booking-target="startDate" type="date" value="<%= @booking.start_date%>" min="<%= Date.today %>" data-action="change->booking#startDateChange"/>
            </div>

            <div class="col">
              <label for="formGroupExampleInput">Checkout</label>
              <input id="endDate" class="form-control" data-booking-target="endDate" type="date" value="<%= @booking.end_date%>" min="<%= Date.today + 1.day %>" />
            </div>
          </div>
        </form>
        <br>
        <span class="text-danger" data-booking-target="dateError"></span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-action="click->booking#saveDate">Save</button>
      </div>
    </div>
  </div>
</div>
