<div class="modal fade" id="guest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" data-controller="booking">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit number of guests</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label for="formGroupExampleInput">Guests</label>
          <br>
          <select class="form-select" id="inlineFormCustomSelectPref" data-booking-target="guest">
            <option selected><%= @booking.guest_count%></option>
            <% (@listing.guest_count + 1).times do |i| %>
              <% next if i < 1 %>
              <option value=" <%= i %>"><%= i %></option>
            <% end %>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-action="click->booking#saveGuest">Save</button>
      </div>
    </div>
  </div>
</div>
