<div class="container">
    <h1 class="my-4">Trip</h1>
    <h3 class="my-4">Upcoming Trips</h3>
    <%= render "card", bookings: @upcoming_bookings %>


    <h3 class="my-4">Where you've been</h3>
    <%= render "card", bookings: @past_bookings %>

</div>
