<div class="row mx-5">
  <div class="col-lg-6 col-sm-12">
    <div class="bg-primary">
      <p>test</p>
    </div>

  </div>
  <div class='col-lg-6 col-sm-12'>
    <div class="bg-success">
    <p>test</p>
  </div>
</div>
