
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $gray;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#595a5b, #d4d4d4);
  transition: background 0.3s ease;
  border: 1px solid #0d0d0d;
  text-align-last: right;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
.booking-btn {
  border: 1px solid rgb(255, 49, 87);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;

  &:hover {
    color: black;
    border: 1px solid black;
  }
}

.chat {
  display: block;
  background-color: rgb(255, 49, 87);
  width: 100%;
  margin: 20px 0;
  padding: 8px 20px;
  &:hover {
    background-color: white;
    color: rgb(255, 49, 87);
    border: 1px solid rgb(255, 49, 87);
  }
}

.cancel {
  font-size: 12px;
  color: rgb(255, 49, 87);
  white-space: nowrap;

}
