.btn {
  border: 1px solid rgb(255, 49, 87);
  color: white;
  border-radius: 5px;
}

.chat {
  background-color: rgb(255, 49, 87);
  width: 90%;
  margin: 20px 0;
}

.cancel {
  font-size: 12px;
  color: rgb(255, 49, 87);
  white-space: nowrap;
}
