.booking-btn {
  border: 1px solid rgb(255, 49, 87);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;

  &:hover {
    color: black;
    border: 1px solid black;
  }
}

.chat {
  display: block;
  background-color: rgb(255, 49, 87);
  width: 100%;
  margin: 20px 0;
  padding: 8px 20px;
  &:hover {
    background-color: white;
    color: rgb(255, 49, 87);
    border: 1px solid rgb(255, 49, 87);
  }

  &:disabled {
    background-color: rgb(125, 125, 125);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(125, 125, 125);
  }
}

.cancel {
  font-size: 12px;
  color: rgb(255, 49, 87);
  white-space: nowrap;
}

.listing-button {
  border: 1px solid grey;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;

  &:hover {
    color: grey;
    border: 1px solid black;
  }
}
