
.card-img {
  width: 150px;
}

.card-p {
  opacity: .5;
}


.listing-card {
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 20%);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(118, 118, 118, 118);
  box-sizing: border-box;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.trip-card {
  width: 72px; // change to make it responsive
  height: 72px;
  margin: 10px 10px;
  justify-content: flex-start;
  color: black;
  // position: relative;
  // margin: .5rem 0 1rem 0;
  // background-color: #fff;
  // border-radius: 2px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.trip-card-image {
  height: 72px;
  // width: 60px;
  width: 72px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  // object-fit: cover;

}

.trip-card-info {
  // height: 50px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 270px;
  margin:5px 10px;


}
.link {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

.card-info-bold {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1em;
}

.card-info-light p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: light;
  color: rgb(115, 115, 115)
}

.trip {
  margin: 0 10px;
}

.summary-card {
  width: 90%;
  height: 100%;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 2px 2px 10px rgb(177, 177, 177);
  border-radius: 10px;
}

.summary-card-picture {
  border-radius: 10px 0;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-font {
  font-family:"Nunito", "Helvetica", "sans-serif" ;
  color: black;
  width: 20rem;
}

.listing-icon {
  margin-right: 8px;
}


.img-box {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.img-box {
  object-fit: cover;
  width: 72px;
  height: 72px;
}
