.mapboxgl-popup {
  max-width: 100px;
}


.mapboxgl-popup-content {
  color: rgb(255, 49, 87);
  font-size: smaller;
  padding: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.listing-map {
  width: 100%;
  height: 500px;
}
