.navbar-lewagon {
  justify-content: space-between;

  background: rgb(15, 15, 15);

  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(215, 215, 215);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
